<div class="row">
  <div class="col-sm-12 mt-4">
    <h1>Goals</h1>
    <div class="list-group">
      <div *ngFor="let p of items" class="list-group-item list-group-item-action" >
        <div class="d-flex flex-row w-100">
          <div class="mr-4 mt-2" (click)="markDone(p)">
              <img class="ml-auto" [src]="p.goalStatus" alt="" height="75px">
            </div>
          <div class="">
            <h2 class="mb-1">{{p.goal}}</h2>
          </div>
          <!-- <small class="ml-auto">{{p.goalStatus}}</small> -->
        </div>
      </div>

    </div>
    <button style="margin-top: 20px" class="btn btn-primary btn-large" [routerLink]="['/tasks/add-task', id]">Add Task</button>

  </div>