/* Add mobile styles for the component here.  */
.modal-close-icon-button {
  color: #f15175;
  font-size: 24;
  horizontal-align: center;
  vertical-align: center;
}
.tip-icon {
  font-size: 25;
  margin-right: 14;
  color: rgba(0, 206, 201, 1);
}
.support-page {
  background-color: white;
}
.hr {
  background: rgba(0, 0, 0, 0.1);
  height: 1;
}
.phone-button {
  font-size: 32;
  color: #0076ff;
  horizontal-align: center;
  vertical-align: center;
}
.call-us-text {
  font-size: 18;
  font-weight: 500;
  color: black;
}
.phone-circle {
  width: 66;
  height: 66;
  border-radius: 66;
  background: #36547c;
  opacity: 0.1;
  horizontal-align: center;
  vertical-align: center;
}
.support-input {
  margin: 20 0 10 0;
  color: black;
  placeholder-color: black;
}
.form-label {
  color: rgba(167, 167, 167, 1);
  margin: 10 0 10 0;
  font-size: 12;
}
.form-text-view {
  padding: 4;
  height: 160;
  margin-bottom: 10;
  margin-right: 20;
  placeholder-color: black;
  border-width: 1;
  border-color: rgb(243, 243, 241);
}
