<div class="row">
  <div class="col-sm-12 mt-4">
    <h1>Employees</h1>
    <div class="list-group">
      <a *ngFor="let p of items" [routerLink]="['/account-details', p._id]" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{p.empName}}</h5>
          <h5 class="mb-1">{{p.jobType}}</h5>
          <h5 class="mb-1">{{p.email}}</h5>
        </div>
        <small>{{p.empID}}</small>
      </a>
    </div>
  </div>