<div class="my-form container-fluid px-0">
  <div class="row no-gutters">
    <div class="col-md-12 text-center d-flex-column align-items-center justify-content-center">
      <div class="form-signin">
          <img class="mb-4" [src]="'assets/'+logo" alt="" width="140" height="140">
          <h1 class="h3 mb-5 font-weight-normal">{{title}}</h1>
        <!-- <form name="loginForm" (ngSubmit)="login()">

          <label for="inputEmail" class="sr-only">Email address</label>
          <input name="username" [(ngModel)]="username" type="string" id="inputEmail" class="form-control" placeholder="User"
            required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input name="password" [(ngModel)]="password" type="password" id="inputPassword" class="form-control"
            placeholder="Password" required>
          <button class="my-button btn btn-lg btn-block" type="submit">Login</button>
        </form> -->

        <button (click)="loginWithMIC()" class="my-button btn btn-lg btn-block" type="submit">Login</button>
        <p class="mt-3 mic small">Or</p>
        <button class="my-button btn btn-lg btn-block" type="submit">New Employee Register</button>

        <!-- <p (click)="loginWithMIC()" class="mic">SIGN IN WITH COMPANY CREDENTIALS</p> -->
      </div>
    </div>
  </div>
</div>