/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import "../../app-variables";

$text-color: $login-page-text-color;

.circle {
  clip-path: circle(240% at 0% 50%);
  text-align: center;
  height: 100%;
  top: 0;
  background: rgb(40, 118, 207);
}
.main-logo-cloud {
  margin-top: 40;
  height: 180;
  margin-bottom: 20;
  color: white;
  text-align: center;
}

.h1 {
  color: white;
  font-size: 20;
  text-align: center;
  margin-bottom: 20;
}

.form-container {
  color: black;
  background: white;
  border-radius: 14;
  border-color: #a7a7a7;
  border-width: 1;
  padding: 30;
  width: 260;
}

.hr {
  background-color: #a7a7a7;
}

.rounded-input {
  width: 213;
  border-color: #a7a7a7;
  font-size: 16;
  text-align: center;
  border-width: 1;
  border-radius: 30;
  padding: 12;
  margin-bottom: 16;
  vertical-align: center;
}

.login {
  width: 213;
  horizontal-align: center;
  color: #f15175;
  font-size: 16;
  border-color: #f15175;
  padding: 12;
  border-width: 1;
  border-radius: 30;
  vertical-align: center;
  background-color: white;
}
.login-icon {
  text-align: center;
  font-size: 30;
  color: #707070;
  padding: 0;
  margin-bottom: 10;
}
button:disabled {
  opacity: 0.5;
}
.sign-up {
  margin-top: 10;
  vertical-align: center;
  horizontal-align: center;
}

.or {
  font-size: 14;
  color: #a7a7a7;
}
.sign-in {
  font-size: 14;
  margin-left: 4;
  color: #f76e62;
}

.selected {
  color: $main-color;
}

.options {
  margin-bottom: 40;
}

.option {
  text-align: center;
}
