@import "../../app-variables";

$text-color: $login-page-text-color;

.login-page {
  horizontal-align: center;
  left: 50;
  top: 0;
  width: 280;
  height: 100%;
}
.circle {
  clip-path: circle(100% at 0% 50%);
  text-align: center;
  width: 900;
  height: 900;
  top: 0;
  left: -254;
  background: $circle-color;
}
.main-logo-cloud {
  color: white;
  margin: 40;
  font-size: 110;
  text-align: center;
}

.h1 {
  margin-bottom: 30;
  color: $text-color;
  font-size: 26;
  text-align: center;
}

.form-container {
  padding: 15 0;
  color: black;
  background: white;
  border-radius: 14;
  border-color: #a7a7a7;
  border-width: 1;
}
.form-element {
}

.hr {
  background-color: #a7a7a7;
}

.android TextField {
  font-weight: 300;
}
.rounded-input {
  width: 213;
  border-color: #a7a7a7;
  font-size: 16;
  padding: 2;
  text-align: center;
  height: 47;
  border-width: 1;
  border-radius: 30;
  margin-bottom: 20;
}

.login {
  width: 213;
  horizontal-align: center;
  color: #f15175;
  font-size: 16;
  border-color: #f15175;
  border-width: 1;
  border-radius: 30;

  height: 47;
}
.login-icon {
  text-align: center;
  font-size: 40;
  color: #707070;
}
.hospital-icon {
  font-family: "Font Awesome 5 Pro";
}
button:disabled {
  opacity: 0.5;
}
.android button {
  font-weight: 400;
  text-transform: none;
  font-size: 16;
}
.sign-up {
  margin-top: 40;
  horizontal-align: center;
}

.or {
  font-size: 14;
  color: #a7a7a7;
}
.sign-in {
  font-size: 14;
  margin-left: 4;
  color: #f76e62;
}

.selected {
  color: #f15175;
}

.option {
  margin-top: 20;
  text-align: center;
}
