<div class="my-form container-fluid px-0">
  <div class="row no-gutters">
    <div
      class="col-md-12 mt-4 text-center d-flex-column align-items-center justify-content-center"
    >
      <img class="mt-4" [src]="'assets/' + logo" alt="" />

      <div class="form-signin">
        <form name="loginForm" (ngSubmit)="login()">
          <label for="inputEmail" class="sr-only mt-4">Email address</label>
          <input
            name="username"
            [(ngModel)]="username"
            type="string"
            id="inputEmail"
            class="form-control"
            placeholder="User"
            required
            autofocus
          />
          <label for="inputPassword" class="sr-only">Password</label>
          <input
            name="password"
            [(ngModel)]="password"
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            required
          />
          <button class="my-button btn btn-lg btn-block" type="submit">
            SIGN IN
          </button>
        </form>
        <p class="mt-5 mic small">Or</p>
        <p (click)="loginWithMIC()" class="mic">
          SIGN IN WITH COMPANY CREDENTIALS
        </p>
      </div>
    </div>
  </div>
</div>
