@import "../../app-variables";

$text-color: $login-page-text-color;
.circle {
  clip-path: circle(100% at 0% 50%);
  text-align: center;
  width: 900;
  height: 130%;
  top: 0;
  left: -254;
  background: $circle-color;
}
.main-logo-cloud {
  color: white;
  font-size: 110;
  text-align: center;
}

.login-page {
  width: 280;
}

.h1 {
  color: $text-color;
  font-size: 26;
  text-align: center;
  margin-bottom: 20;
}

.form-container {
  color: black;
  background: white;
  border-radius: 14;
  border-color: #a7a7a7;
  border-width: 1;
  padding: 40;
}
.form-element {
}

.hr {
  background-color: #a7a7a7;
}

.rounded-input {
  width: 213;
  border-color: #a7a7a7;
  font-size: 16;
  text-align: center;
  border-width: 1;
  border-radius: 30;
  height: 50;
  margin-bottom: 16;
  vertical-align: center;
}

.login {
  width: 213;
  horizontal-align: center;
  color: #f15175;
  font-size: 16;
  border-color: #f15175;
  height: 40;
  border-width: 1;
  border-radius: 30;
  vertical-align: center;
}
.login-icon {
  text-align: center;
  font-size: 40;
  color: #707070;
  padding: 6;
}
.hospital-icon {
  font-family: Font Awesome 5 Pro, Font Awesome 5 Pro-Solid-900;
}
button:disabled {
  opacity: 0.5;
}
.android button {
  font-weight: 400;
  text-transform: none;
  font-size: 16;
}
.sign-up {
  horizontal-align: center;
  margin-top: 20;
}

.or {
  font-size: 14;
  color: #a7a7a7;
}
.sign-in {
  font-size: 14;
  margin-left: 4;
  color: #f76e62;
}

.selected {
  color: #f15175;
}

.option {
  text-align: center;
}
