<GridLayout rows="auto,auto,*, auto">
  <GridLayout class="m-x-15 m-y-10" columns="*,auto">
    <Label class="heading" text="Telemedicine"></Label>
    <SupportButton col="1"></SupportButton>
  </GridLayout>
  <GridLayout row="1" class="m-b-15 m-r-15" columns="*,*">
    <Label
      class="sub-heading"
      text="Submit Ticket"
      (tap)="markSelected(0)"
      [class.sub-heading-selected]="selected === 0"
    ></Label>
    <Label
      class="sub-heading"
      col="1"
      text="Ticket History"
      (tap)="markSelected(1)"
      [class.sub-heading-selected]="selected === 1"
    ></Label>
  </GridLayout>
  <ScrollView row="2" *ngIf="selected === 0" class="">
    <StackLayout>
      <GridLayout class="notification m-20" columns="auto, *">
        <Label text="&#xf82e;" class="tip-icon fa"></Label>
        <Label
          col="1"
          class="notification-text"
          text="Discuss any Health Concerns"
        ></Label>
      </GridLayout>
      <StackLayout class="concern-form">
        <Label text="DESCRIBE YOUR HEALTH CONCERN" class="form-label"></Label>
        <TextView class="form-text-view" hint="Type text here"></TextView>
        <Label text="ATTACH PHOTO" class="form-label"></Label>
        <StackLayout class="images-upload" orientation="horizontal">
          <Label text="&#xf030;" class="fa camera-icon"></Label>
          <Image
            src="https://2.gravatar.com/avatar/7fc56bb23fe5236b432b5b91597109a1?s=160"
            class="uploaded-image"
            *ngFor="let i of images"
          ></Image>
        </StackLayout>
        <Label text="PLEASE RATE YOUR DISCOMFORT" class="form-label"></Label>
        <GridLayout class="discomfort-picker-container" columns="auto, *, auto">
          <Label text="&#xf030;" class="fa heart-icon"></Label>
          <Slider
            col="1"
            class="discomfort-slider"
            value="10"
            minValue="0"
            maxValue="100"
          ></Slider>
          <Label col="2" text="&#xf030;" class="fa heart-icon"></Label>
        </GridLayout>
        <GridLayout class="discomfort-picker-container" columns="*, auto">
          <Label text="PREVIOUSLY TREATED" class="form-label"></Label>
          <Switch col="1" checked="true" class="prev-treated"></Switch>
        </GridLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
  <GridLayout row="3" *ngIf="selected === 0" class="p-30 footer">
    <Button class="refresh-button" text="SUBMIT"></Button>
  </GridLayout>
  <GridLayout *ngIf="selected === 1" row="2">
    <ListView [items]="tickets">
      <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        <StackLayout>
          <GridLayout rows="*" class="m-x-20" columns="*,auto" height="80">
            <StackLayout col="0" verticalAlignment="center">
              <Label class="name" [text]="item"></Label>
              <Label
                row="1"
                class="subscriber-id"
                [text]="'March 10, 2020'"
              ></Label>
            </StackLayout>
            <Label col="2" text="&#xf054;" class="fa list-arrow"></Label>
          </GridLayout>
        </StackLayout>
      </ng-template>
    </ListView>
  </GridLayout>
  <GridLayout row="3" *ngIf="selected === 1" class="p-30 footer">
    <Button class="refresh-button" text="REFRESH"></Button>
  </GridLayout>
</GridLayout>
