/* Add mobile styles for the component here.  */
.heading-icon-button {
  font-size: 24;
  horizontal-align: center;
  width: 60;
  height: 60;
  border-radius: 60;
  vertical-align: center;
  background-color: rgba(54, 84, 124, 0.1);
  border-color: white;
  border-width: 1;
  z-index: 0;
  color: black;
}
