/* Add mobile styles for the component here.  */
.chart-label {
  font-size: 30;
  font-family: "Helvetica Neue";
  font-weight: 500;
  vertical-align: center;
  horizontal-align: center;
}

.gauge {
  vertical-align: bottom;
  height: 160;
}
