<GridLayout rows="auto,*">
  <GridLayout class="m-x-20 m-b-10" columns="*,auto">
    <Label class="heading" text="Dashboard"></Label>
    <GridLayout col="1">
      <Label class="heading-icon-circle"></Label>
      <Label text="&#xf095;" class="fa heading-icon-button"></Label>
    </GridLayout>
  </GridLayout>
  <ScrollView row="1" class="m-l-30 m-r-20">
    <StackLayout>
      <GridLayout rows="auto,auto" class="my-card" *ngFor="let i of items">
        <GridLayout class="h2-container" columns="*,auto">
          <StackLayout
            colSpan="2"
            class="h2-background"
            [backgroundColor]="i.color"
          ></StackLayout>
          <Label class="h2 dashboard-h2" [text]="i.title"></Label>
          <Label
            col="1"
            [text]="i.icon"
            [color]="i.color"
            class="fa h2-icon"
          ></Label>
        </GridLayout>
        <GridLayout class="m-l-20" row="1" columns="6*, 4*">
          <StackLayout>
            <StackLayout
              class="m-b-10"
              *ngFor="let sub of i.subItems | keyvalue"
            >
              <Label class="sub-item" [text]="sub.key"></Label>
              <Label class="sub-item-value" [text]="sub.value"></Label>
            </StackLayout>
          </StackLayout>

          <app-radial-chart
            col="1"
            [text]="i.value"
            [color]="i.color"
            [angle]="i.angle"
          ></app-radial-chart>
        </GridLayout>
      </GridLayout>
    </StackLayout>
  </ScrollView>
</GridLayout>
