/* Add mobile styles for the component here.  */
.dashboard-h2 {
  margin-left: 10;
  padding: 6;
}
.h2-container {
  margin: 0 0 10 0;
}

.h2-background {
  opacity: 0.15;
  border-radius: 10;
}
.my-card {
  margin-bottom: 50;
}
