/* Add mobile styles for the component here.  */
.dashboard-h2 {
  margin-left: 10;
  padding: 4;
}
.h2-container {
  margin: 0 0 24 0;
}

.h2-background {
  opacity: 0.05;
  border-radius: 10;
}
.my-card {
  margin-bottom: 30;
}
.sub-item {
  color: #a7a7a7;
  font-size: 12;
}
.sub-item-value {
  font-weight: 500;
  font-size: 22;
}

.card {
  margin-bottom: 20;
  padding: 10;
  border-radius: 10;
  border-width: 1;
  border-color: #f3f1f1;
}
.notification {
  margin-bottom: 5;
}
.tip {
  margin-bottom: 30;
}
.date {
  color: rgba(167, 167, 167, 1);
  font-size: 12;
  horizontal-align: right;
  vertical-align: top;
}
.badge {
  background: rgba(0, 206, 201, 1);
  color: white;
  font-size: 18;
  height: 28;
  width: 28;
  border-radius: 28;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  margin-right: 5;
}
.notification-text {
  font-family: "SF UI Text";
  font-weight: bold;
}
.tip-icon {
  font-size: 25;
  margin-right: 14;
  color: rgba(0, 206, 201, 1);
}
.notification-sub-text {
  color: rgba(140, 140, 140, 1);
}
