<GridLayout rows="auto,auto,*, auto">
  <GridLayout class="m-x-15 m-b-10" columns="*,auto">
    <Label class="heading" text="Find a Doctor"></Label>
    <GridLayout col="1">
      <Label class="heading-icon-circle"></Label>
      <Button
        (tap)="supportButtonTapped()"
        text="&#xf095;"
        class="fa heading-icon-button"
      ></Button>
    </GridLayout>
  </GridLayout>
  <GridLayout row="1" class="m-b-15 m-r-15" columns="*,*">
    <Label
      class="sub-heading"
      text="Physicians"
      (tap)="markSelected(0)"
      [class.sub-heading-selected]="selected === 0"
    ></Label>
    <Label
      class="sub-heading"
      col="1"
      text="Health Team"
      (tap)="markSelected(1)"
      [class.sub-heading-selected]="selected === 1"
    ></Label>
  </GridLayout>
  <ScrollView row="2" *ngIf="selected === 0" class="">
    <StackLayout class="find-doctor-form">
      <Label text="LOCATION (ZIP CODE OR ADDRESS)" class="form-label"></Label>
      <TextField class="address"></TextField>
      <GridLayout class="form-field" columns="*,auto,auto">
        <Label col="0" text="Specialty"></Label>
        <Label col="1" class="selection" text="Lungs"></Label>
        <Label col="2" text="&#xf054;" class="fa list-arrow"></Label>
      </GridLayout>
      <StackLayout class="hr"></StackLayout>
      <GridLayout class="form-field" columns="*,auto,auto">
        <Label col="0" text="Provider Language"></Label>
        <Label col="1" class="selection" text="English"></Label>
        <Label col="2" text="&#xf054;" class="fa list-arrow"></Label>
      </GridLayout>
      <StackLayout class="hr"></StackLayout>
      <GridLayout class="form-field" columns="*,auto,auto">
        <Label col="0" text="Gender"></Label>
        <Label col="1" class="selection" text="Male"></Label>
        <Label col="2" text="&#xf054;" class="fa list-arrow"></Label>
      </GridLayout>
      <StackLayout class="hr"></StackLayout>
      <GridLayout class="form-field" columns="*,auto,auto">
        <Label col="0" text="Accepting New Positions"></Label>
        <Switch col="2" checked="true" class="prev-treated"></Switch>
      </GridLayout>
      <StackLayout class="hr"></StackLayout>
    </StackLayout>
  </ScrollView>
  <GridLayout row="3" *ngIf="selected === 0" class="p-30 footer">
    <Button class="refresh-button" text="FIND A DOCTOR"></Button>
  </GridLayout>
  <GridLayout *ngIf="selected === 1" row="2">
    <ListView row="1" [items]="doctors">
      <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        <GridLayout
          rows="*"
          class="m-x-20"
          columns="auto,*,auto"
          height="80"
          [nsRouterLink]="['../patient', 1]"
        >
          <Image col="0" class="doctor-image" [src]="item.image"></Image>
          <StackLayout col="1" verticalAlignment="center">
            <Label class="name" [text]="item.name"></Label>
            <Label
              row="1"
              class="subscriber-id"
              [text]="'March 10, 2020'"
            ></Label>
          </StackLayout>
          <Label col="2" text="&#xf054;" class="fa list-arrow"></Label>
        </GridLayout>
      </ng-template>
    </ListView>
  </GridLayout>
  <GridLayout row="3" *ngIf="selected === 1" class="p-30 footer">
    <Button class="refresh-button" text="REFRESH"></Button>
  </GridLayout>
</GridLayout>
