<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 my-nav">
  <div class="navbar-sections navbar-section2">
      <a class="navbar-brand" routerLink="/">
        <img [src]="'assets/'+logo" class="mr-2" width="51" height="51" alt="">
      </a>
  <div class="welcomeDiv">
      <a class="mr-2" (click)="logout()" style="cursor: pointer">
          Welcome to AXA Middle East
        </a>
  </div>

  </div>

  
  <div class="collapse navbar-collapse navbar-sections navbar-section1" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item pr-4" routerLink="/home">
          <i class="icon ion-md-home menu-logo mx-2"></i>
      </li>
      <li *ngIf="homePageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
                true}">
                <button mat-button>{{homePageTitle}}</button>


      </li>
      <li *ngIf="accountsPageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
        true}">
        <button mat-button [matMenuTriggerFor]="menu">{{accountsPageTitle}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Foreigner Insurance</button>
          <button mat-menu-item>Home Insurance</button>
          <button mat-menu-item>Medical Insurance</button>
          <button mat-menu-item>Car Insurance</button>
          <button mat-menu-item routerLink="/accounts">Travel Insurance</button>
          <button mat-menu-item>Personal Accident</button>
        </mat-menu>
        <!-- <a routerLink="/accounts" class="nav-link menu-item">
        {{accountsPageTitle}}
        </a> -->
      </li>
      <li *ngIf="productsPageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
                      true}">
                      <button mat-button>{{productsPageTitle}}</button>
      </li>
      <li *ngIf="filesPageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
        true}">
        <button mat-button>{{filesPageTitle}}</button>
      </li>
      <li *ngIf="tasksPageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
  true}">
  <button mat-button>{{tasksPageTitle}}</button>
      </li>
      <li *ngIf="offlinePageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
                        true}">
                        <button mat-button>{{offlinePageTitle}}</button>
      </li>
      <li *ngIf="mapPageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
                          true}">
        <a routerLink="/map" class="nav-link menu-item">
          <i class="icon ion-md-map menu-logo mx-2"></i>{{mapPageTitle}}
        </a>
      </li>
      <li class="nav-item pr-4">
          <div class="search-table">
              <div class="search-field">
                  <input type="text" placeholder="Search..." value="" name="s" id="s">
              </div>
          </div>
      </li>
    </ul>


  </div>
</nav>



<div class="container-fluid">
  <router-outlet></router-outlet>
</div>