<div class="col-md-12 logo-container">
  <a class="navbar-brand p-4" routerLink="/">
    <img [src]="'assets/' + logo" class="mr-2" height="50" alt="" />
  </a>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark my-nav">
  <button
    class="ml-auto navbar-toggler hidden-sm-up"
    type="button"
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    aria-controls="exCollapsingNavbar2"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    &#9776;
  </button>
  <div
    [ngbCollapse]="isNavbarCollapsed"
    class="collapse navbar-collapse"
    id="exCollapsingNavbar2"
  >
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item mx-3"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a routerLink="/home" class="nav-link menu-item">
          Search Legacy Devices
        </a>
      </li>
      <li
        class="nav-item mx-3"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a routerLink="/products" class="nav-link menu-item">
          Search Inventory
        </a>
      </li>
      <li
        class="nav-item mx-3"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a routerLink="/home" class="nav-link menu-item">
          Update Inventory
        </a>
      </li>
      <li
        class="nav-item mx-3"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a routerLink="/home" class="nav-link menu-item">
          Update Network Inventory
        </a>
      </li>
      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
          <a
            class="nav-link menu-item dropd"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Administration
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a routerLink="/home" ngbDropdownItem>Administer Inventory</a>
            <button ngbDropdownItem>Contact</button>
            <button ngbDropdownItem>FAQ</button>
          </div>
        </div>
      </li>
    </ul>
    <span style="color:white">{{ username | async }} </span>
    <a class="mr-4" (click)="logout()" style="cursor: pointer; color:white">
      {{ ", Logout" }}
    </a>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
