<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 my-nav">
  <div class="navbar-sections navbar-section2">
      <a class="navbar-brand" routerLink="/">
        <img [src]="'assets/'+logo" class="mr-2" width="51" height="51" alt="">
      </a>
  <div class="welcomeDiv">
      <a class="mr-2" (click)="logout()" style="cursor: pointer">
          Welcome to AXA Middle East
        </a>
  </div>

  </div>

  
  <div class="collapse navbar-collapse navbar-sections navbar-section1" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item pr-4">
          <i class="icon ion-md-home menu-logo mx-2"></i>
      </li>
      <li *ngIf="homePageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
                true}">
        <a routerLink="/home" class="nav-link menu-item">
         {{homePageTitle}}
        </a>
      </li>
      <li *ngIf="accountsPageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
        true}">
        <a routerLink="/accounts" class="nav-link menu-item">
        {{accountsPageTitle}}
        </a>
      </li>
      <li *ngIf="productsPageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
                      true}">
        <a routerLink="/products" class="nav-link menu-item">
        {{productsPageTitle}}
        </a>
      </li>
      <li *ngIf="filesPageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
        true}">
        <a routerLink="/files" class="nav-link menu-item">
         {{filesPageTitle}}
        </a>
      </li>
      <li *ngIf="tasksPageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
  true}">
        <a routerLink="/tasks" class="nav-link menu-item">
         {{tasksPageTitle}}
        </a>
      </li>
      <li *ngIf="offlinePageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
                        true}">
        <a routerLink="/offline" class="nav-link menu-item">
         {{offlinePageTitle}}
        </a>
      </li>
      <li *ngIf="mapPageVisible" class="nav-item pr-4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
                          true}">
        <a routerLink="/map" class="nav-link menu-item">
          <i class="icon ion-md-map menu-logo mx-2"></i>{{mapPageTitle}}
        </a>
      </li>
      <li class="nav-item pr-4">
          <div class="search-table">
              <div class="search-field">
                  <input type="text" placeholder="Search..." value="" name="s" id="s">
              </div>
          </div>
      </li>
    </ul>


  </div>
</nav>



<div class="container-fluid">
  <router-outlet></router-outlet>
</div>