<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>

<!-- <ListView class="list-group" [items]="items">
    <ng-template let-item="item"> -->
    <StackLayout class="page" *ngIf="!loaded"></StackLayout>
    <StackLayout class="page" *ngIf="loaded">
            <Image row="0" col="0" [src]="logo" class="logo"></Image>

        <GridLayout class="list-group-item" rows="auto,*,*" columns="auto, *" margin="20">

            <!-- <Label textWrap="true" row="1" col="1" margin="20" [text]="isVisible"></Label>  -->

            <GridLayout row="1" rows="*,*,*" columns="*" col="1" *ngIf="isVisible" class="" borderRadius="2" height="300">
                <Label fontSize="25em" textAlignment="center" fontWeight="bold"  textWrap="true" row="0" col="1" text="Space Available Space# {{items[0][0].parkingSpot}}"></Label>
                <Label textWrap="true" row="1" col="1" text="Space Owner: {{items[0][0].spotOwnerUsername}}" class="capitalize"></Label>
                <Button row="2" col="2" class="login btn btn-primary" text="Confirm" (tap)="goHome()"></Button>

            </GridLayout>

            <GridLayout rows="*,*,*,*,*" columns="*" row="1" col="1" *ngIf="!isVisible" class="" borderRadius="2" height="300">
                <Label fontSize="25em" textAlignment="center" fontWeight="bold" textWrap="true" row="0" col="1" text="No Spaces Available"></Label>
                <Label margin="auto" textAlignment="center" textWrap="true" row="1" col="0" text="Get Notified"></Label>
                <StackLayout row="2" class="hr-light"></StackLayout>
                <GridLayout row="3" col="0" rows="*, *" columns="50, *" class="form-container">
                    <Label row="0" col="0" class="upper-label" text="Email:"></Label>
                    <TextField style="border: 1px lightgrey" secure="true" hint="Email Address" row="1" col="1" [(ngModel)]="password"></TextField>
                </GridLayout>
                <Button row="4" col="0" class="login btn btn-primary" text="Get Notified" (tap)="getNotify()"></Button>
            </GridLayout>
        </GridLayout>
    </StackLayout>
    <!-- </ng-template>
</ListView> --> 