/* Add mobile styles for the component here.  */

.logout-button {
  color: #f15175;
}

.footer {
  background-color: rgb(242, 242, 242);
}
.refresh-button {
  border-radius: 30;
  color: white;
  height: 50;
  background: linear-gradient(257deg, #ff9f40, #e60ca5);
}
.doctor-image {
  margin-right: 10;
  height: 40;
  width: 40;
  border-radius: 40;
}
.list-arrow {
  vertical-align: center;
  color: #c7c7cc;
}

.name {
  font-family: "SF UI Text";
  font-weight: 500;
  font-size: 17;
  margin-bottom: 8;
}
.subscriber-id {
  color: #8c8c8c;
  font-size: 15;
}
