// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import "~nativescript-theme-core/scss/light";

//cool color: #383741;
$main-color: #f15175;
$login-page-text-color: white;
$login-page-background: white;
$circle-color: linear-gradient(222deg, #ff9f40, #e60ca5);

$login-button-background-color: #ff584e;
//$login-button-background-color: #0080c2;
$logged-in-user-color: white;

$ab-color: $white;
$ab-background: $main-color;
