/* You can add global styles to this file, and also import other style files */
@import "~ionicons/dist/css/ionicons.css";
@import "app-variables";

@font-face {
  font-family: "Nunito-Regular";
  src: url("/assets/Nunito-Regular.ttf");
}

body {
  font-family: Nunito-Regular;
}
.popup {
  opacity: 0.9;
}

.k-grid-content .k-button {
  margin: 0;
}

.title {
  position: relative;
  top: 4px;
  font-weight: lighter;
}
