.box {
    border-width: 0 2 2 0;
    border-color:lightgray;
}

.bg-danger-r {
    background-color:rgb(235, 80, 80);
}
.text-light {
    color:white;
}

.bg-primary-green {
    background-color:rgb(46, 189, 3);
}

.bg-primary-b {
    background-color:rgb(0, 104, 201);
}