#userPic {
    width:120;
    height:120;
    border-width:4;
    border-color:white;

}


.name {
    color:white;
    font-size:18;
    font-weight: bold;
}

.item {
    margin:10;
}

.icon {
    color:#0080c2;
}

.left-icon {
    font-size:35;
}

.med {
    color:darkviolet;
}
.cond{
    color:red;
}
.all {
    color:lightgreen;
}
.lab {
    color:lightpink
}